[Unit]
Description=Standalone Chromedriver server
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker rm -f chromedriver
ExecStart=/usr/bin/docker run -u 995 -p 9515:9515 --privileged --name=chromedriver chromedriver:0.0.1
ExecStop=/usr/bin/docker stop chromedriver
ExecStopPost=-/usr/bin/docker rm -f chromedriver

[Install]
WantedBy=default.target
